In [78]:
import pandas as pd 
import numpy as np

data_dir = '../data/'
clinical_data = pd.read_csv( data_dir + "clinical_data.csv")

/var/folders/sj/c0vx7y5x3190y7dky0gdrb6m0000gn/T/ipykernel_10066/2352582418.py:5: DtypeWarning: Columns (98,128) have mixed types. Specify dtype option on import or set low_memory=False.
  clinical_data = pd.read_csv( data_dir + "clinical_data.csv")

In [79]:
clinical_data

,ID,SEX,BIR,AGE,DATE2,GROUP,ADDRESS,PREG,COVID19,CDATE,...,LD,ASBD,ETCCOMP,ETCCOMPEXP,ER,EDATE,RINFO,RDATE,year,covid
0,COV-CCO-001,1,1959.2.5,62,2021.1.12,3.0,6.0,2.0,1.0,2021.1.11,...,2.0,2.0,2.0,77777,66666.0,66666,66666.0,66666,First,1.0
1,COV-CCO-001,1,1959.2.5,62,2021.1.13,3.0,6.0,2.0,1.0,2021.1.11,...,2.0,2.0,2.0,77777,66666.0,66666,66666.0,66666,First,1.0
2,COV-CCO-001,1,1959.2.5,62,2021.1.14,3.0,6.0,2.0,1.0,2021.1.11,...,2.0,2.0,2.0,77777,66666.0,66666,66666.0,66666,First,1.0
3,COV-CCO-001,1,1959.2.5,62,2021.1.15,3.0,6.0,2.0,1.0,2021.1.11,...,2.0,2.0,2.0,77777,66666.0,66666,66666.0,66666,First,1.0
4,COV-CCO-001,1,1959.2.5,62,2021.1.16,3.0,6.0,2.0,1.0,2021.1.11,...,2.0,2.0,2.0,77777,66666.0,66666,66666.0,66666,First,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5934,COV-SCO-099,1,1972-10-15,49,2022-08-10,77777.0,77777.0,77777.0,77777.0,77777,...,2.0,2.0,2.0,77777,77777.0,77777,77777.0,77777,Second,NaN
5935,COV-SCO-099,1,1972-10-15,49,2022-08-10,77777.0,77777.0,77777.0,77777.0,77777,...,77777.0,77777.0,77777.0,77777,1.0,2022-08-10,2.0,2022-08-04,Second,NaN
5936,COV-SCO-100,2,1977-11-07,44,2022-07-29,2.0,9.0,2.0,77777.0,2022-07-26,...,2.0,2.0,2.0,77777,77777.0,77777,77777.0,77777,Second,1.0
5937,COV-SCO-100,2,1977-11-07,44,2022-08-10,77777.0,77777.0,77777.0,77777.0,77777,...,2.0,2.0,2.0,77777,77777.0,77777,77777.0,77777,Second,NaN
5938,COV-SCO-100,2,1977-11-07,44,2022-08-10,77777.0,77777.0,77777.0,77777.0,77777,...,77777.0,77777.0,77777.0,77777,1.0,2022-08-10,2.0,2022-08-02,Second,NaN

In [80]:
severity_column = ['ID', 'CDATE', 'DATE2', 'EDATE', 'covid', 'NPRONG','MASK', 'HFNC', 'HFNCOC', 'NIV', 'IV', 'ECMO', 'CRRT','NOGAS', 'ER', 'XRAYT']

In [81]:
severity_table = clinical_data.loc[:, severity_column] 
severity_table = severity_table[severity_table['covid'] == 1]
# severity_table = severity_table.iloc[:, :-1]

In [82]:
# preprocessing if there is 1 in XRAYT of someone (ID) then we will change all the value of sample to 1
# loop with ID 

# ID set 
covid_id = severity_table['ID'].unique()
for i in covid_id: 
    # print(i)
    # print(severity_table.loc[severity_table['ID'] == i, 'XRAYT'])
    if 1 in severity_table.loc[severity_table['ID'] == i, 'XRAYT'].values: 
        # print(severity_table.loc[severity_table['ID'] == i, 'XRAYT'])
        severity_table.loc[severity_table['ID'] == i, 'XRAYT'] = 1
        # print(severity_table.loc[severity_table['ID'] == i, 'XRAYT'])
    else : 
        severity_table.loc[severity_table['ID'] == i, 'XRAYT'] = 0

In [83]:
# preprocessing if there is 1 in XRAYT of someone (ID) then we will change all the value of sample to 1
# loop with ID 

# ID set 
covid_id = severity_table['ID'].unique()
for i in covid_id: 
    # print(i)
    # print(severity_table.loc[severity_table['ID'] == i, 'XRAYT'])
    if 2 in severity_table.loc[severity_table['ID'] == i, 'ER'].values: 
        # print(severity_table.loc[severity_table['ID'] == i, 'XRAYT'])
        severity_table.loc[severity_table['ID'] == i, 'ER'] = 1
        # print(severity_table.loc[severity_table['ID'] == i, 'XRAYT'])
    else : 
        severity_table.loc[severity_table['ID'] == i, 'ER'] = 0

In [84]:
severity_table['EDATE'].dtype

dtype('O')

In [85]:
severity_table.replace('77777', np.nan, inplace=True)
severity_table.replace('66666', np.nan, inplace=True)
severity_table.replace('99999', np.nan, inplace=True)

severity_table.replace(77777, np.nan, inplace=True)
severity_table.replace(66666, np.nan, inplace=True)
severity_table.replace(99999, np.nan, inplace=True)
severity_table

,ID,CDATE,DATE2,EDATE,covid,NPRONG,MASK,HFNC,HFNCOC,NIV,IV,ECMO,CRRT,NOGAS,ER,XRAYT
0,COV-CCO-001,2021.1.11,2021.1.12,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
1,COV-CCO-001,2021.1.11,2021.1.13,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
2,COV-CCO-001,2021.1.11,2021.1.14,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
3,COV-CCO-001,2021.1.11,2021.1.15,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
4,COV-CCO-001,2021.1.11,2021.1.16,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5924,COV-SCO-096,2022-07-18,2022-07-27,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5927,COV-SCO-097,2022-07-28,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5930,COV-SCO-098,2022-07-27,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5933,COV-SCO-099,2022-07-28,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5936,COV-SCO-100,2022-07-26,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0

In [86]:
severity_table

,ID,CDATE,DATE2,EDATE,covid,NPRONG,MASK,HFNC,HFNCOC,NIV,IV,ECMO,CRRT,NOGAS,ER,XRAYT
0,COV-CCO-001,2021.1.11,2021.1.12,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
1,COV-CCO-001,2021.1.11,2021.1.13,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
2,COV-CCO-001,2021.1.11,2021.1.14,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
3,COV-CCO-001,2021.1.11,2021.1.15,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
4,COV-CCO-001,2021.1.11,2021.1.16,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5924,COV-SCO-096,2022-07-18,2022-07-27,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5927,COV-SCO-097,2022-07-28,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5930,COV-SCO-098,2022-07-27,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5933,COV-SCO-099,2022-07-28,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0
5936,COV-SCO-100,2022-07-26,2022-07-29,NaN,1.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,0.0,0.0

In [92]:
# Max CSS calculation
severity_table['severity'] = 0
# make new severity table for each patients n by 1 
mild_ids = severity_table.loc[severity_table['XRAYT'] != 1]['ID'].unique()
moderate_ids = severity_table.loc[severity_table['XRAYT'] == 1]['ID'].unique()
severe_ids = severity_table[(severity_table['XRAYT'] == 1) & ((severity_table['NPRONG'] == 1) | (severity_table['MASK'] == 1))]['ID'].unique()
critical_ids = severity_table[(severity_table['XRAYT'] == 1) & ((severity_table['HFNC'] == 1) | (severity_table['HFNCOC'] == 1) | (severity_table['NIV'] == 1) | (severity_table['IV'] == 1) | (severity_table['ECMO'] == 1) | (severity_table['CRRT'] == 1) | (severity_table['NOGAS'] == 1))]['ID'].unique()
dead = severity_table[severity_table['ER'] == 1]['ID'].unique()

In [93]:
severity_table['ER'].max()

1.0

In [94]:
# severity_table['severity'] = np.where(severity_table['ID'].isin(mild_ids), , severity_table['severity'])
severity_table['severity'] = np.where(severity_table['ID'].isin(mild_ids), 1, severity_table['severity'])
severity_table['severity'] = np.where(severity_table['ID'].isin(moderate_ids), 2, severity_table['severity'])
severity_table['severity'] = np.where(severity_table['ID'].isin(severe_ids), 3, severity_table['severity'])
severity_table['severity'] = np.where(severity_table['ID'].isin(critical_ids), 4, severity_table['severity'])
severity_table['severity'] = np.where(severity_table['ID'].isin(dead), 5, severity_table['severity'])

In [95]:
# make max_css_table 
max_css_table = severity_table.loc[:, ['ID', 'severity']].groupby('ID').max()

In [96]:
max_css_table.max()

severity    5
dtype: int64

In [97]:
max_css_table.value_counts()

severity
1           204
2           165
3            52
4            36
5             2
Name: count, dtype: int64

In [98]:
max_css_table.to_csv(data_dir + 'max_css_table.csv')